# ===== Frontend =====
Frontend/node_modules/
Frontend/dist/
Frontend/build/

# ===== Backend =====
Backend/target/
Backend/.idea/
Backend/*.iml

# ===== IDEs =====
.vscode/
.idea/

# ===== Environment / Secrets =====
.env
.env.*
*.key
*.pem

# ===== OS =====
Thumbs.db
.DS_Store
